.page-container {
  padding: 20px 50px 120px;
  background-color: rgb(255, 255, 255);
}

.parent-container {
  display: flex; 
  justify-content: space-between;
}

.child-container {
  text-align: justify;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  height: 700px; 
  width: 100%;
}

.grid-item {
  flex: 1;
  border: 1px solid #ccc; 
  padding: 15px; 
}

td, th {
  padding: 1px 4px;
}

.top-left{
  height: 632px;
  width: 100%;
  padding: 15px;
  margin-left: 75px;
}

span {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 2em;
}

.top-right {
  height: 332px;
  width: 85%;
  padding: 15px; 
  /*margin-right: 15px;*/
}

.bottom-right {
  height: 332px;
  width: 85%;
  border: 1px solid #ffffff; 
  padding: 25px; 
  /*margin-right: 15px;*/
}

.right-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #ffffff;
  margin-left: 60px; 
}

.country-name {
  padding-left: 10px;
}

.country-container {
  display: flex;
}

#table-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.table-title {
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 1;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.value-cell {
  text-align: right;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: #f4f4f4; 
  z-index: 1;
}


.table-body {
  max-height: 300px; 
  overflow-y: auto;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}


.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
}