.world-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.world-main-container {
    padding: 10px 50px 25px 25px;
}

.charts {
    text-align: center;
}

.justified-text {
    text-align: justify;
    margin-right: 60px;
  }

.world-title {
    text-align: center;
}

.title-svg {
    font-size: 16px;
    font-weight: bold;
}