.top-malnutrition-chart-container {
    padding-top: 25px;
    padding-left : 95px;
    box-sizing: border-box; 
}

#top-malnutrition-chart1,
#top-malnutrition-chart2 {
    overflow: hidden;
}

.slider-container {
    padding-left: 95px;
    margin-top: 80px; 
    display: flex;
    justify-content: center;
    }

.slider {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  width: 100%; 
  box-sizing: border-box;
}

.slider-container input {
  flex-grow: 1; 
  max-width: 360px;
}

.slider-container span {
  font-size: 14px;
  font-weight: bold;
}